RADIUS packet length mismatch 

Radius RFC2865 Section 3, states how to handle mismatch between the value in the length field and the actual packet size:

      Length
      The Length field is two octets.  It indicates the length of the
      packet including the Code, Identifier, Length, Authenticator and
      Attribute fields.  Octets outside the range of the Length field
      MUST be treated as padding and ignored on reception.  If the
      packet is shorter than the Length field indicates, it MUST be
      silently discarded.  The minimum length is 20 and maximum length
      is 4096.

Thus, according to this the case where the packet length is greater than the length field value, shouldn't be discarded as the current implementation, but trunced to fit the declared length.

Sugested fix is #72